 /* CARRITO */
            
 .carrito{
    position: absolute;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 500px;
    height: 100vh;
    visibility: hidden;
    display: none;
    background-color: var(--white-principal);
    z-index: var(--index-3);
    padding: 2rem;
    transition: all 0.5s ease;
}
.carrito-active{
    right: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
}
.carrito-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--filter-color);
}
.carrito-cruz{
    font-size: 2.5rem;
}
.carrito-cruz:hover{
    cursor: pointer;
}
.carrito-bottom{
    display: none;
    padding: .5rem;
    border-bottom: 1px solid var(--filter-color);
}
.carrito-products{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.carrito-products p{
    font-size: 1.1rem;
    color: var(--secondary--color);
    font-weight: 600;
}

.carrito-overlay-active{
    position: absolute;
    width: 100%;
    top: 0;
    left:0 ;
    height: 100vh;
    background-color: rgba(20, 20, 19, 0.908);
    z-index: var(--index-2);
    display: block;
}

@media only screen and (min-width:768px){
    .carrito-products p{
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:1024px){
    .carrito-top-title{
        font-size: 2.6rem;
    }
    .carrito-products p{
        font-size: 1.9rem;
        margin-top: 2rem;
    }
}