:root {
    --black-principal: rgb(15, 15, 15);
    --white-principal: white;
    --beige--header: rgb(110, 102, 102);
    --secondary--color: #3f2028;
    --margin-section: 3em;
    --padding-section: 2em;
    --filter-color:#ECECEC;
    --index-base: 1;
    --index-2: 10;
    --index-3: 100;
    --index-4: 1000;
  }
*{
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
    min-height: 100%;
    background: radial-gradient(ellipse at bottom, #dbdbda 0%, #fdfdfd 100%);
}
a{
    text-decoration: none;
    color: var(--black-principal);
}
.body{
    margin: 0;
}
#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span{
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-text-fill-color: transparent;
}
.wrapper{
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}
.disabled{
    display: none;
}
img{
    height: 100px;
    width: 100px;
}

/* MENU DESPLEGABLE */

.menu{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80vw;
    max-width: 500px;
    background-color: white;
    z-index: var(--index-3);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

/* Div para hacer el overlay negro */
.bg-overlay{
    display: none;
}

/* Div para mostrar el overlay negro */
.bg-overlay-active{
    position: absolute;
    width: 100%;
    top: 0;
    right:0 ;
    height: 100vh;
    background-color: rgba(20, 20, 19, 0.908);
    z-index: var(--index-2);
    display: block;
}

/* Activa el menu */
.menu-active{
    left: 0;    
    visibility: visible;
}
.menu-container-cruz{
    padding: .5rem ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--filter-color);
}
.menu-container-cruz i{
    font-size: 2.5rem;
    z-index: var(--index-4);
    color: #565656;
}
.menu-lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: nowrap;
}
.menu-lista .menu-item{
    border-bottom: 1px solid var(--filter-color);
    padding: 1.5rem 1.5rem;
    width: 100%;
}
.menu-item a{
    text-decoration: none;
    color: #323232;
}
.menu-item a p{
    font-size: 1.3rem;
    font-family: 'Open Sans';
}

.menu-container-login{
    margin-top: 200px;
    padding: 1.5rem;
    display: flex;
    flex-basis: 50%;
    gap: 2rem;
}
.menu-photo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-photo i{
    font-size: 4.5rem;
}
.menu-container-cruz i:hover{
    cursor: pointer;
}
.menu-container-logintext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.menu-container-logintext p{
    font-size: 1.1rem;
}
.fa-grip-lines-vertical{
    display: none;
    visibility: hidden;
    margin-top: -20px;    
}
 
 /* CARRITO */
            
 .carrito{
    position: absolute;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 500px;
    height: 100vh;
    visibility: hidden;
    display: none;
    background-color: var(--white-principal);
    z-index: var(--index-3);
    padding: 2rem;
    transition: all 0.5s ease;
}
.carrito-active{
    right: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
}
.carrito-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--filter-color);
}
.carrito-cruz{
    font-size: 2.5rem;
}
.carrito-cruz:hover{
    cursor: pointer;
}
.carrito-bottom{
    display: none;
    padding: .5rem;
    border-bottom: 1px solid var(--filter-color);
}
.carrito-products{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.carrito-products p{
    font-size: 1.1rem;
    color: var(--secondary--color);
    font-weight: 600;
}

.carrito-overlay-active{
    position: absolute;
    width: 100%;
    top: 0;
    left:0 ;
    height: 100vh;
    background-color: rgba(20, 20, 19, 0.908);
    z-index: var(--index-2);
    display: block;
}


           /*  HEADER */
header{
    background-color: var(--black-principal);
}
.header-top-sign{
    color: var(--white-principal);
    background-color: var(--black-principal);
    opacity: 90%;
    font-weight: 700;
}
.header-top-sign span{
    margin: 0 30px;
}
.header-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}
.header-mid-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.header-mid-menu .header-mid-menu-cont{
    background-image: url(../img/icons/menu-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3.5rem;
    height: 2rem;
}
.header-mid-menu span{
    color: var(--white-principal);
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-mid-logo{
    display: flex;
    justify-content: center;
    width: 40%;
}
.header-mid-logo .logo{
    background-image: url(../img/icons/main-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7rem;
    height: 7rem;
}
.header-mid-container{
    width: 30%;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    gap: 3rem;
}   
.header-mid-search{
    font-size: 1.8em;
    color: var(--white-principal);
    font-weight: 100;
}
.header-mid-cart{
    font-size: 1.8em;
    color: var(--white-principal);
    font-weight: 100;
}

.buscador{
    display: none;
    
}
.buscador-input{
    margin: 0;
    width: 70%;
    margin-left: 1rem;
    padding: 3px;
    font-size: 12px;
    border-width: 1px;
    border-color: rgb(110, 102, 102);
    background-color: #ececec;
    border-radius: 8px;
    color: #2d2d2d;
    border-style: ridge;
    box-shadow: 0px 0px 11px rgb(66 66 66 / 75%);
    text-shadow: 0px 0px 5px rgb(66 66 66 / 75%);
}
.buscador-input:focus{
    color: var(--secondary--color);
}
.buscador-button{
    padding: .35em .8rem;
    font-weight: 900;
    margin-left: .4rem;
    background-color: var(--black-principal);
    color: var(--filter-color);
    border-radius: 8px;
    display: inline;
}

.buscador-active{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


        /* URL */

.url-container{
    margin: 2rem;
    padding: 1rem;
}
.url-container p{
    color: white;
    font-size: 1.1rem;
}
.url-container span{
    color: var(--filter-color);
    font-weight: 900;
    font-size: 1.2rem;
}
.url-container a{
    text-decoration: none;
    color: white;
}

/* ENVIOS */
.envios-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.envio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2rem;
    padding: 2rem;

}
.envio:nth-child(2),.envio:last-child{
    display: none;
}

.envio-icon{
    color: var(--filter-color);
    font-size: 1.6rem;
}
.envio-title{
    color: var(--filter-color);
    font-size: 1.4rem;
    text-transform: uppercase;
}
.envio-text{
    color:white;

}
                        /*  FOOTER */
.footer{
    padding: 0 var(--padding-section);
    display: flex;
    background: var(--white-principal);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: var(--margin-section);
}
.footer h4{
    font-size: 1.4rem;
    border-bottom: 1px solid var(--beige--header);
    width: 100%;
    margin: 2rem 0 1rem;
}
.footer a{
    text-decoration: none;
    color: #090a0f;
}
.footer-nav{
    display: inline-block;
    width: 100%;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-nav ul .wrap1{
    width: 50%;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.payments{
    display: inline-block;
    width: 100%;
    
}

.payments ul img{
    width: auto;
    height: 2.7rem;
    box-shadow: 2px 3px 4px 0px #181819;
    margin: 0 6px 6px 0;
}
.shipping{
    display: inline-block;
    width: 100%;
}

.shipping img{
    width: auto;
    height: 3rem;
    border: 1px solid #00000012;
    box-shadow: 2px 3px 4px 0px #181819;
}
.contact{
    display: block;
    width: 100%;
}

.phone-icon{
    background-image: url(../img/footer-icons/number.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
.contact ul{
    list-style: none;
}
.contact li{
    display: flex;
}
.contact span{
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.arroba-icon{
    background-image: url(../img/footer-icons/arroba.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 22px;
    margin-right: 1px;
}
.place-icon{
    background-image: url(../img/footer-icons/wtf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 21px;
}
.social{
    display: inline-block;
    width: 100%;
}

.ig-logo{
    display: inline-block;
    background-image: url(../img/footer-icons/ig-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.fb-logo{
    display: inline-block;
    background-image: url(../img/footer-icons/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


@media only screen and (min-width:768px){
    .menu-container-cruz{
        padding-bottom: 2.5rem;
    }
    .menu-container-cruz i {
        font-size: 3rem;
    }
    .menu-item{
        padding: 3rem 1.5rem;
    }
    .menu-item a p {
        font-size: 1.4rem;
    }
    .menu-container-login{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 0 2rem;
        margin: 0;
        display: flex;
        align-items: center;
        height: 100px;
        border-top: 1px solid var(--filter-color);
    }
    .menu-container-logintext i{
        font-size: 1.6rem;
        text-align: center;
        color: var(--beige--header);
    }
    .menu-photo{
        width: 12%;
    }
    .menu-photo i{
        font-size: 4rem;
    }
    .menu-container-logintext{
        flex-direction: row;
    }
    .menu-container-logintext p{
        font-size: 1.2rem;
    }
    .fa-grip-lines-vertical{
        display: block;
        visibility: visible;
        margin-top: 0;    
    }
    
    .carrito-products p{
        font-size: 1.4rem;
    }
    header{
        padding: 2rem 0;
        margin-top: 1rem;
    }
    .header-top-sign{
        font-size: 1.1rem;
        margin-top: -30px;
    }
    .header-mid{
        padding:  3.5rem 0;
        
    }

    .header-mid-cart, .header-mid-menu, .header-mid-search{
        transition: all .5s ease;

    }
    .header-mid-menu .menu{
        height: 2.5rem;
    }
    .header-mid-menu:hover, .header-mid-cart:hover, .header-mid-search:hover{
        cursor: pointer;
        filter: opacity(.6);
    }
   
    .header-mid-menu span{
        font-size: 1.3rem;
        margin-left: 1rem;
    }
    .header-mid-logo .logo{
        width: 10rem;
    }
    .header-mid-container{
        gap: 8rem;
    }
    .header-mid-container .header-mid-search, .header-mid-cart{
        font-size: 2.4rem;
    }
    .header-mid-search{
        background-color: var(--black-principal);
        padding: .2rem;
        border-radius: 10px;
    }
    
    .buscador{
        padding: 3rem 0;
    }
    .buscador-input{
        padding: 1rem;
    }
    .buscador-button{
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
    }

    .url-container{
        margin: var(--margin-section);
        padding: 0 var(--padding-section);
    }
    .url-container p{
        font-size: 1.5rem;
    }
    .url-container span{
        font-size: 1.5rem;
    }
    .footer h4{
        font-size: 1.5rem;
    }
    .footer p , .footer span{
        font-size: 1.2rem;
    }

}

@media only screen and (min-width:1024px){
    .carrito-top-title{
        font-size: 2.6rem;
    }
    .carrito-products p{
        font-size: 1.9rem;
        margin-top: 2rem;
    }

    .header-mid-container .header-mid-search, .header-mid-cart{
        font-size: 2rem;
    }
    .header-mid-logo .logo{
        width: 12rem;
    }

    .envios-container{
        margin: 6rem 0;
    }
    .envio-title{
        font-size: 1.6rem;
    }
    .envio-text{
        font-size: 1.3rem;
    }
    .envio:nth-child(2),.envio:last-child{
        display: flex;
    }
    .envio:not(:last-child){
        border-right: 1px solid var(--filter-color);
    }
}

@media only screen and (min-width: 1440px){
    .header-mid-menu .header-mid-menu-cont{
        height: 2.5rem;
    }
    .header-mid-menu span{
        font-size: 1.5rem;
    }
    .menu-container-cruz i{
        font-size: 4rem;
    }
    .menu-lista .menu-item{
        padding: 3rem;
    }
    .menu-item a p{
        font-size: 1.4rem;
    }   
    .menu-container-logintext p{
        font-size: 1.2rem;
    }
    .carrito-top h2{
        font-size: 1.9rem;
    }
    .carrito-products p{
        font-size: 1.4rem;
    }
    .fa-grip-lines-vertical{
        font-size: 5rem;
        text-align: center;
    }
    .menu-photo i{
        font-size: 5rem;
    }
    
}

@media only screen and (min-width:2560px){
    .header-top{
        display: flex;
        align-content: center;
        margin-top: 3rem;
    }
    .header-top-sign span {
        font-size: 4rem;
        padding: 2rem 0;
    }
    .header-mid{
        height: 40rem;
    }
    .header-mid-logo .logo{
      width: 92rem;  
      height: 200px;    
    }
    .header-mid-menu .header-mid-menu-cont{
        height: 10rem;
        width: 7rem;
    }
    .header-mid-menu span{
        font-size: 5rem;
    }
    .header-mid-search i{
        font-size: 8rem;
    }
    .header-mid-cart i{
        font-size: 8rem;
    }
    .carrusel{
        display: none;
    }
    .buscador-input{
        padding: 4rem 0;
        width: 50%;
        margin-top: 4rem;
    }
    .buscador-button{
        padding: 1rem 4rem;
        margin-left: 3rem;
        margin-top: 4rem;
        font-size: 6rem;
    }
    .more-container{
        min-width: 1000px;
        padding: 5rem ;
        margin: 8rem 3.5rem;
    }
    .items-more-products p{
        font-size: 4.5rem;
    }
    .footer{
        margin-top: 8rem;
    }
   .footer-nav h4, .payments h4, .shipping h4, .contact h4, .social h4{
        font-size: 4rem;
        border-bottom-width: 4px;
   }
   .footer-nav ul .wrap1, .contact li span{
    font-size: 4rem;
    margin-bottom: 4rem;
   }
   .payments ul{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;

   }
   .payments ul img, .shipping img{
    min-height: 100px;
   }

   .contact li div{
    width: 60px;
    height: 60px;
   }
   .social a{
    width: 100px;
    height: 100px;
   }

}