:root {
    --black-principal: rgb(15, 15, 15);
    --white-principal: white;
    --beige--header: rgb(110, 102, 102);
    --secondary--color: #3f2028;
    --margin-section: 3em;
    --padding-section: 2em;
    --filter-color:#ECECEC;
  }
*{
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
.disabled{
    display: none;
}
img{
    height: 100px;
    width: 100px;
}
section{
    margin: var(--margin-section);
    padding: 0 var(--padding-section);
}

                        /*  HEADER */


header{
    background-color: var(--black-principal);
}
.header-top-sign{
    color: var(--white-principal);
    background-color: var(--black-principal);
    opacity: 90%;
    font-weight: 700;
}
.header-top-sign span{
    margin: 0 30px;
}
.header-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid var(--beige--header);
}
.header-mid-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.header-mid-menu .menu{
    background-image: url(../img/menu-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3.5rem;
    height: 2rem;
}
.header-mid-menu span{
    color: var(--white-principal);
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-mid-logo{
    display: flex;
    justify-content: center;
    width: 40%;
}
.header-mid-logo .logo{
    background-image: url(../img/main-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7rem;
    height: 7rem;
}
.header-mid-container{
    width: 30%;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    gap: 3rem;
}   
.header-mid-search{
    font-size: 1.8em;
    color: var(--white-principal);
    font-weight: 100;
}
.header-mid-cart{
    font-size: 1.8em;
    color: var(--white-principal);
    font-weight: 100;
}


@media only screen and (min-width: 768px){
    header{
        padding: 2rem 0;
    }
    .header-top-sign{
        font-size: 1.3rem;
        margin-top: -30px;
    }
    .header-mid{
        padding:  4rem 0;
        
    }

  
    .header-mid-menu .menu{
        height: 3rem;
    }
    .header-mid-menu:hover, .header-mid-cart:hover, .header-mid-search:hover{
        cursor: pointer;
        filter: opacity(.6);
    }
   
    .header-mid-menu span{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .header-mid-logo .logo{
        width: 13rem;
    }
    .header-mid-container{
        gap: 8rem;
    }
    .header-mid-container .header-mid-search, .header-mid-cart{
        font-size: 3rem;
    }
    .header-mid-search{
        background-color: var(--black-principal);
        padding: .2rem;
        border-radius: 10px;
    }
}


                        /* BODY */

                        /* carrusel */

.carrusel{
    width: 100%;
    margin-top: var(--margin-section);
}
.carrusel-container{
    width: 100%;
    position: relative;
}
.carrusel__anterior,.carrusel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 30px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: var(--white-principal);
    border-radius: 8px;
    color: var(--black-principal);
    z-index: 1;

}
.carrusel__anterior{
    left: 5px;
}

.carrusel__siguiente{
    right: 5px;
}
.carrusel__item img{
    height: 100%;
    width: 100%;

}
.carrusel__lista{
    overflow: hidden;
}
.carrusel__item{
    text-align: center;
    max-height: 400px;

}
.carrusel__item p{
    color: var(--black-principal);

}

.carrusel__anterior:hover,.carrusel__siguiente:hover{
background-color: var(--black-principal);
color: var(--white-principal);
cursor: pointer;

}

.carrusel__indicadores .glider-dot{
    width: 38px;
    height: 4px;
}
.carrusel__indicadores .glider-dot.active{
    background-color: var(--black-principal);
}
.middle-box{
    display: block;
    height: 100rem;
    background-color: var(--black-principal);
}


                    /* Promociones Section*/

.promociones{
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 2em;
    flex-grow: 1;
}
.promo{
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    gap: 2em;
    padding: 0 2rem;
}
.promo-title{
    text-align: center;
    font-size: 3.2em;
}
.promo-text{
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -2em;
}
.promo-discount{
    padding: 1rem;
    margin: 0 2rem;
    background-color: var(--beige--header);
    border-radius: 3px;
}
.promo-discount p {
    text-align: center;
}
.promo{
    background-position: center;
    position: relative;
    z-index: 5;
}
.promo::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    margin: -20px;
    z-index: 1;


}
.promo:first-child{
    background-image: url("../img/promo-img/tshirt.jpg");
    background-position: 50% 70%;
    background-size: 220px 250px;
    background-repeat: no-repeat;
}


.promo:nth-child(2){
    background-image: url("../img/promo-img/shorts.jpeg");
}
.promo:nth-child(3){
    background-image: url("../img/promo-img/clothes.jpeg");
    background-position: 50% 70%;
    background-size: 220px 250px;
    background-repeat: no-repeat;
}
.promo:nth-child(4){
    background-image: url("../img/promo-img/shoes.jpeg");
    background-position: 50% 70%;
    background-size: 420px auto;
    background-repeat: no-repeat;
}
.promo:nth-child(5){
    background-image: url("../img/promo-img/cap.jpg");
    background-position: 20% 70%;
    background-size: 420px auto;
    background-repeat: no-repeat;
}

.promo-title,.promo-text,.promo-discount{
    color: white;
    z-index: 10;
}
.promo-discount:hover{
    /* background-color:   #494956; */
    background-color: var(--secondary--color);
}
.promo:hover{
    cursor: pointer;
}


                                    /* iTEMS SECTION */

                                        /* FILTER */
.categories-filter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: scroll;
    margin-bottom: var(--margin-section);
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.filter{
    padding: 1em;
    background-color: var(--filter-color);
    border-radius: 4px;
}
.filter p{
    color: var(--black-principal);
    text-transform: uppercase;

}

.filter:hover{
    filter: brightness(1.05);
    cursor: pointer;
}
::-webkit-scrollbar{
    display: none;
} 
                            /* ITEMS */
.items-container{
    display: flex;
    flex-flow: row wrap;
    gap: 1.5em;
    margin: 0 1rem;
    height: auto;

}
.items-container .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.item{
    width: 140px;
}
.item-top{
    background-color: #181819;
    position: relative;
    min-height: 150px;
}
.item-top-discount{
    position: absolute;
    color: white;
    background-color: var(--secondary--color);
    padding: 0.3rem;
    border-radius: 2px;
}
.item-top-img-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-top-img-container.uno{
    background-image: url(../img/promo-img/tshirt.jpg);
}
.item-top-img-container.dos{
    background-image: url(../img/promo-img/clothes.jpeg);
}
.item-top-img-container.tres{
    background-image: url(../img/promo-img/shoes.jpeg);
}
.item-top-img-container.cuatro{
    background-image: url(../img/promo-img/cap.jpg);
}
.item-top-img-container.cinco{
    background-image: url(../img/promo-img/shorts.jpeg);
}
.item-top-img-container.seis{
    background-image: url(../img/promo-img/tshirt.jpg);
}
.item-top-img-container.siete{
    background-image: url(../img/promo-img/cap.jpg);
}
.item-top-img-container.ocho{
    background-image: url(../img/promo-img/shoes.jpeg);
}
.item-bottom{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.item-bottom-title{
    font-weight: 100;
    font-family: 'Open Sans';
    text-align: center;
    white-space: pre-wrap;
}
.item-bottom-price{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.item-bottom-price__before{
    text-decoration: line-through;
}
.item-bottom-price__after{
    font-size: 1.4rem;
    font-weight: 700;
}
.item-bottom-cuotas{
    display: flex;
    justify-content: center;
    outline: 2px solid var(--filter-color);
}
.item-bottom-cuotas p{
    padding: 1rem 0;
    width: 90%;
    text-align: center;
}
.item-bottom-cuotas span{
    color: #6B6A6A;
    font-weight: 900;
}
                         
                        /*  FOOTER */
.footer{
    padding: 0 var(--padding-section);
    display: flex;
    background: var(--white-principal);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: var(--margin-section);
}
.footer-nav{
    display: inline-block;
    width: 100%;
}
.footer-nav h4{
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--beige--header);
}
.footer-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-nav ul .wrap1{
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.payments{
    display: inline-block;
    width: 100%;
    
}
.payments h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--beige--header);
}
.payments ul img{
    width: auto;
    height: 3.0rem;
    box-shadow: 2px 3px 4px 0px #181819;
    margin: 0 6px 6px 0;
}
.shipping{
    display: inline-block;
    width: 100%;
}
.shipping h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--beige--header);
}
.shipping img{
    width: auto;
    height: 3rem;
    border: 1px solid #00000012;
    box-shadow: 2px 3px 4px 0px #181819;
}
.contact{
    display: block;
    width: 100%;
}
.contact h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--beige--header);
}
.phone-icon{
    background-image: url(../img/footer-icons/number.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
.contact ul{
    list-style: none;
}
.contact li{
    display: flex;
}
.contact span{
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.arroba-icon{
    background-image: url(../img/footer-icons/arroba.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 22px;
    margin-right: 1px;
}
.place-icon{
    background-image: url(../img/footer-icons/wtf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 21px;
}
.social{
    display: inline-block;
    width: 100%;
}
.social h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid var(--beige--header);
}
.ig-logo{
    display: inline-block;
    background-image: url(../img/footer-icons/ig-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.fb-logo{
    display: inline-block;
    background-image: url(../img/footer-icons/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

