:root {
    --black-principal: rgb(15, 15, 15);
    --white-principal: white;
    --secondary--color: #3f2028;
    --tercer--color: #e0907c;
    --margin-section: 3em;
    --padding-section: 2em;
    --filter-color:#ECECEC;
    --index-base: 1;
    --index-2: 10;
    --index-3: 100;
    --index-4: 1000;
}
                        /* BODY */

                        /* carrusel */

.carrusel{
    width: 100%;
    margin-top: 3rem;
}
.carrusel-container{
    width: 100%;
    position: relative;
}
.carrusel__anterior,.carrusel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 30px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
    z-index: var(--index-base);
    transition: all .5s ease;
    background-color: var(--tercer--color);
}
.carrusel__anterior{
    left: 5px;
}

.carrusel__siguiente{
    right: 5px;
}
.carrusel__item img{
    height: 100%;
    width: 100%;

}
.carrusel__lista{
    overflow: hidden;
}
.carrusel__item{
    text-align: center;
    max-height: 400px;

}
.carrusel__item p{
    color: var(--black-principal);

}

.carrusel__anterior:hover,.carrusel__siguiente:hover{
    background-color: var(--tercer--color);
color: var(--white-principal);
cursor: pointer;
}

.carrusel__indicadores .glider-dot{
    width: 38px;
    height: 4px;
    background-color: var(--black-principal);
}
.carrusel__indicadores .glider-dot.active{
    background-color: var(--tercer--color);
}
.middle-box{
    display: block;
    height: 100rem;
    background-color: var(--black-principal);
}


                    /* Colecciones Section*/
.colecciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: var(--margin-section) 0 ;
    padding: var(--padding-section) 0;
}
.coleccion-wrapper{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
}
.coleccion{
    position: relative;
    width: 90%;
    height: 180px;
    padding: 2rem;
    background-image: url(../img/promo-img/clothes.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 4px;
    z-index: var(--index-base);
    max-width: 350px;
    transform: all .5s ease;
}
.coleccion-title{
    max-width: 350px;
    width: 90%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var(--tercer--color) ;
    padding: 1rem;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: -0.4rem auto;
}






                                    /* iTEMS SECTION */

                                        
                            /* FILTROS */

.filters{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.filter-title{
    color: var(--white-principal);
    font-size: 1.2rem;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding:  0 2rem;
    width: 100%;
}
.filter-selector{
    border-radius: 8px;
    font-size: 1.3rem;
    text-align: center;
    font-family: sans-serif;
    flex-basis: 80%;
    max-width: 400px;
    height: 35px;
    flex-grow: 1;
}
.filter-button{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: center;
    padding: .5rem;
    width: 70px;
    border-radius: 6px;
    background-color: var(--secondary--color);
    color: var(--white-principal);
}

.filter-desplegable{
    position: fixed;
    right:-100%;
    width: 100%;
    max-width: 500px;
    height: 100%;
    top: 0;
    visibility: hidden;
    background-color: var(--white-principal);
    z-index: var(--index-3);
    transition: all 0.5s ease;
    overflow: auto;
}
.filter-desplegable-active{
    right: 0;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.filter-desplegable-top{
    background-color: var(--filter-color);
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.filter-desplegable-top i{
    font-size: 1.7rem;
}
.filter-desplegable-top h4{
    font-size: 1.5rem;
    font-weight: 100;
    font-family: sans-serif;
}
.filter-desplegable-categories{
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    border-bottom: 1px solid var(--filter-color);
    padding-bottom: 2rem;
}
.filter-desplegable-categories > h4, .filter-desplegable-talle-title, .filter-desplegable-color-title, .filter-desplegable-price-title{
    width: 100%;
    font-size: 1.5rem;
}
.filter-desplegable-categorie{
    background-color: var(--filter-color);
    padding: 0.5rem;
 

}
.filter-desplegable-categorie a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 100;
}

.filter-desplegable-color, .filter-desplegable-talle ,.filter-desplegable-price{
    padding: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--filter-color);
}
.filter-desplegable-color-list, .filter-desplegable-talle-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}
.filter-desplegable-color-item, .filter-desplegable-talle-item {
    display: flex;
    gap: 1rem;
}
.filter-desplegable-color-item label, .filter-desplegable-talle-item label{
    font-size: 1.2rem;
}
.filter-desplegable-color-item input , .filter-desplegable-talle-item input{
    width: 17px;
    height: 17px;
}

.filter-desplegable-price-button ,.filter-desplegable-button-apply{
    padding: .5rem;
    background-color: var(--secondary--color);
    color: var(--white-principal);
    width: 70px;
    border-radius: 6px;
    border: none;
    margin-top: 1rem;
}

.filter-desplegable-price-cont{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}
.filter-desplegable-price-cont-desde , .filter-desplegable-price-cont-hasta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}
.filter-desplegable-price-cont>div>label{
    font-size: 1rem;
    text-transform: uppercase;
}
.filter-desplegable-price-cont>div>input{
    max-width: 60px;
    width: fit-content;
}
.filter-desplegable-price-button{
    height: 30px;
    padding: 0 .2rem;
    border: none;
}


                            /* ITEMS */
.items-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 1rem;
    height: auto;
}
.items-container h3{
    color: white;
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 100;
}
.items-container p{
    color: white;
}
.items-container .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.item{
    width: 140px;
    transition: all .5s ease;
}
.item:hover .item-bottom-title{
    text-decoration: underline;
    cursor: pointer;
}
.item-top{
    background-color: #181819;
    position: relative;
    min-height: 150px;
}
.item-top-discount{
    position: absolute;
    color: white;
    background-color: var(--secondary--color);
    padding: 0.3rem;
    border-radius: 2px;
}
.item-top-img-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-top-img-container.uno{
    background-image: url(../img/promo-img/tshirt.jpg);
}
.item-top-img-container.dos{
    background-image: url(../img/promo-img/clothes.jpeg);
}
.item-top-img-container.tres{
    background-image: url(../img/promo-img/shoes.jpeg);
}
.item-top-img-container.cuatro{
    background-image: url(../img/promo-img/cap.jpg);
}
.item-top-img-container.cinco{
    background-image: url(../img/promo-img/shorts.jpeg);
}
.item-top-img-container.seis{
    background-image: url(../img/promo-img/tshirt.jpg);
}
.item-top-img-container.siete{
    background-image: url(../img/promo-img/cap.jpg);
}
.item-top-img-container.ocho{
    background-image: url(../img/promo-img/shoes.jpeg);
}
.item-bottom{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.item-bottom-title{
    font-weight: 100;
    font-family: 'Open Sans';
    text-align: center;
    white-space: pre-wrap;
    transition: all .5s ease;

}
.item-bottom-price{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.item-bottom-price__before{
    text-decoration: line-through;
}
.item-bottom-price__after{
    font-size: 1.4rem;
    font-weight: 700;
}
.item-bottom-cuotas{
    display: flex;
    justify-content: center;
    outline: 2px solid var(--filter-color);
    border-radius: 5px 55px;
    box-shadow: #090a0f 10px 10px;
}
.item-bottom-cuotas p{
    padding: 1rem 0;
    width: 90%;
    text-align: center;
}
.item-bottom-cuotas span{
    color: #6B6A6A;
    font-weight: 900;
}
.items-more-products{
    display: flex;
    justify-content: center;
}
.more-container{
    background-color: rebeccapurple;
    max-width: 400px;
    min-width: 250px;
    padding: 1rem 1rem;
    margin: 2rem 3.5rem;
    background-color: rgba(150, 100, 100, 0.3);
    border-radius: 5px;
    transition: all .5s ease;

}
.more-container:hover{
    cursor: pointer;
    background-color: var(--secondary--color);
}
.items-more-products p {
    text-align: center;
    font-size: 1.3rem;
    color: var(--white-principal);
}
                         



/*  RESPONSIVE WEB DESIGN */


    /* PHONE */




    /* TABLET */


    @media only screen and (min-width: 768px){
        
       
        .carrusel{
            margin-top: 0;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
        .categories-filter{
            justify-content: center;
            gap: 3rem;
        }
        .filters{
            padding: var(--padding-section);
            margin: var(--margin-section);
        }
        .filter{
            padding: 1rem 1.5rem;
        }
        .filter p{
            font-size: 1.3rem;
        }
        .filter-container{
            justify-content: flex-start;
            gap: 5rem;
        }
        .items-container{
            gap: 4rem;
        }
        .item-bottom-title{
            font-size: 1.4rem;
        }
        .item-bottom-price__before{
            font-size: 1.3rem;
        }
        .item-bottom-price__after{
            font-size: 1.8rem;
        }
        .item-bottom-cuotas p{
            padding: 1.5rem 0;
            font-size: 1.3rem;
        }
        .item-top-discount{
            font-size: 1.2rem;
            padding: 0.5rem;
        }
    }


        /* LAPTOP */


    @media only screen and (min-width: 1024px){

        .items-section{
            position: relative;
            display: flex;
            justify-content: center;
            padding: 1rem;
            
        }
        .filter-desplegable-top{
            display: none;
        }
        .filter-desplegable{
            position: relative;
            left: 1rem;
            visibility: visible;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            background-color: transparent;
            max-width: none;
        }
        .filters{
            align-self: flex-start;
            gap: 1rem;
            flex-basis: 200px;
            flex-grow: 0;
            margin: 0;
            width: 15%;
    
    
        }
        
        .filter-button{
            display: none;
        }
        .filter-desplegable-categories{
            flex-direction: column;
        }
        .filter-desplegable-categories > h4, .filter-desplegable-talle-title, .filter-desplegable-color-title, .filter-desplegable-price-title{
            color: white;
            font-size: 1.5rem;
            gap: 3rem;
        }
        .filter-desplegable-categorie{
            padding: .7rem;
            border-radius: 6px;
            flex-wrap: wrap;
            max-width: 100px;
        }
        .filter-desplegable-categorie h4{
            font-size: 1rem;
        }
        .filter-desplegable-color-list, .filter-desplegable-talle-list{
            flex-direction: column;
            gap: 1.5rem;
        }
        .filter-desplegable-color-item, .filter-desplegable-talle-item {
            gap: 1rem;
        }
        .filter-desplegable-color-item label, .filter-desplegable-talle-item label{
            color: white; 
            font-size: 1.2rem;
           }
        .filter-desplegable-color-item input , .filter-desplegable-talle-item input{
            width: 20px;
            height: 15px;   
        }
        .filter-desplegable-price-cont{
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 1rem;
        }   
        .filter-desplegable-price-cont-desde , .filter-desplegable-price-cont-hasta{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .filter-desplegable-price-cont>div>label{
            color: white;
        }
        .promo-title{
            font-size: 3.2rem;
        }
        .promociones{
            gap: 4rem;
        }
        .promo{
            max-width: 250px;
        }
        .promo-text{
            font-size: 1.3rem;
            margin-top: -1.5rem;
        }
        .promo-discount{
            padding: 1.4rem 1.2rem;
        }
        .promo-discount p{
            font-size: 1.5rem;
        }
        .categories-filter{
            margin-top: 6rem;
        }
        .filter p{
            font-size: 1.5rem;
        }
        .items-container{
            gap: 6rem;
        }
        .item{
            width: 180px;
        }
        .item-top{
            min-height: 250px;
            min-width: 200px;
        }
        .items-container h3{
            font-family: sans-serif;
            text-align: c;
        }
        .item-bottom-price__after{
            font-size: 1.8rem;
            font-weight: 800;
        }
        .item-bottom-price__before{
            font-size: 1.3rem;
        }
        .item-bottom-cuotas p{
            font-size: 1.2rem;
        }

    }


    
    @media only screen and (min-width: 2560px){
        .promociones{
            gap: 10rem;
            margin: 12rem 0;
            padding: 0 4rem;
        }
        .promo{
            min-width: 400px;
            min-height: 550px;
            grid-area: 4rem;
        }
        .promo-title{
            font-size: 6rem;
        }
        .promo-text{
            font-size: 3rem;
        }
        .promo-discount{
            padding: 4rem;
        }
        .promo-discount p{
            font-size: 3rem;
        }
    
        .categories-filter{
            gap: 9rem;
            margin-bottom: 4rem;
        }
        .filter{
            padding: 3rem;
        }
        .filter p{
            font-size: 4rem;
        }
    
        .items-container{
            gap: 10rem;
        }
        .item{
            width: 400px;
            height: auto;
        }
        .item-top{
            min-height: 400px;
        }
        .item-top-discount{
            padding: 3rem 3rem;
            font-size: 3rem;
    
        }
        .item-bottom{
            gap: 4rem;
            padding: 2rem;
        }
        .item-bottom-title{
            font-size: 4rem;
        }
        .item-bottom-price{
            gap: 4rem;
        }
        .item-bottom-price__after, .item-bottom-price__before{
            font-size: 5rem;
        }
        .item-bottom-cuotas{
            outline-width: 8px;
        }
        .item-bottom-cuotas p{
            font-size: 4rem;
        }           
    }   