:root {
    --black-principal: rgb(15, 15, 15);
    --white-principal: white;
  }
*{
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

/*  HEADER */


header{
    height: 11rem;
    background-color: var(--black-principal);
}
.header-top-sign{
    color: var(--white-principal);
    background-color: black;
    opacity: 90%;
    font-weight: 700;
}
.header-top-sign span{
    margin: 0 30px;
}
.header-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.2rem;
    border-bottom: 1px solid rgb(36, 36, 36) 
}
.header-mid-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.header-mid-menu .menu{
    background-image: url(../img/menu-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3.5rem;
    height: 2rem;
}
.header-mid-menu span{
    color: var(--white-principal);
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-mid-logo{
    display: flex;
    justify-content: center;
    width: 40%;
}
.header-mid-logo .logo{
    background-image: url(../img/main-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7rem;
    height: 7rem;
}
.header-mid-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.header-mid-cart .cart{
    background-image: url(../img/cart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}
.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
}
.header-bottom-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border-right: 1px solid rgb(36, 36, 36);
}
.header-bottom-input input{
    width: 80%;
    height: 80%;
    background-color: var(--black-principal);
    border: none;
    outline: none;
    caret-color: var(--white-principal);
}
.header-bottom-input .search-logo{
    background-image: url(../img/lupa2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
}
.header-bottom-input input::placeholder{
    font-size: 1.5rem;
    opacity: 0.5;
}
.header-bottom-input .input-text{
    text-decoration: none;
    color: var(--white-principal);
    font-size: 1.8rem;
}
.header-bottom-products{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}
.header-bottom-products a{
    text-decoration: none;
    color: var(--white-principal);
    font-size: 1.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* BODY */

    /* carrusel */

.carrusel{
    width: 100%;
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.carrusel__contenedor{
    width: 100%;
    position: relative;
}
.carrusel__anterior,.carrusel__siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 30px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: var(--white-principal);
    border-radius: 8px;
    color: var(--black-principal);
    z-index: 1;

 
}
.carrusel__anterior{
    left: 5px;
}

.carrusel__siguiente{
    right: 5px;
}
.carrusel__item img{
    height: 100%;
    width: 100%;

}
.carrusel__lista{
    overflow: hidden;
}
.carrusel__item{
    text-align: center;
    max-height: 400px;

}
.carrusel__item p{
    color: var(--black-principal);

}

.carrusel__anterior:hover,.carrusel__siguiente:hover{
background-color: gray;
}

.carrusel__indicadores .glider-dot{
    width: 38px;
    height: 4px;
}
.carrusel__indicadores .glider-dot.active{
    background-color: black;
}
.middle-box{
    display: block;
    height: 100rem;
    background-color: black;
}

/*  FOOTER */
.footer{
    padding: 0 2rem 2rem;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer-nav{
    display: inline-block;
    width: 100%;
}
.footer-nav h4{
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
}
.footer-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.footer-nav ul .wrap1{
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.payments{
    display: inline-block;
    width: 100%;
    
}
.payments h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
}
.payments ul img{
    width: auto;
    height: 3.0rem;
    box-shadow: 2px 3px 4px 0px #181819;
    margin: 0 6px 6px 0;
}
.shipping{
    display: inline-block;
    width: 100%;
}
.shipping h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
}
.shipping img{
    width: auto;
    height: 3rem;
    border: 1px solid #00000012;
    box-shadow: 2px 3px 4px 0px #181819;
}
.contact{
    display: block;
    width: 100%;
}
.contact h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
}
.phone-icon{
    background-image: url(../img/footer-icons/number.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
.contact ul{
    list-style: none;
}
.contact li{
    display: flex;
}
.contact span{
    width: 50%;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.arroba-icon{
    background-image: url(../img/footer-icons/arroba.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
    height: 22px;
    margin-right: 1px;
}
.place-icon{
    background-image: url(../img/footer-icons/wtf.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 21px;
    height: 21px;
}
.social{
    display: inline-block;
    width: 100%;
}
.social h4{
    width: 100%;
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    border-bottom: 1px solid gray;
}
.ig-logo{
    display: inline-block;
    background-image: url(../img/footer-icons/ig-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.fb-logo{
    display: inline-block;
    background-image: url(../img/footer-icons/fb-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35px;
    height: 35px;
    cursor: pointer;
}